<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lab3</title>
<link rel="stylesheet" href="/public/css/styles.css">
<link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">
      <nav class="navbar navbar-default">
        <!-- normal collapsible navbar markup -->
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Product List</a>
                </div>
                <div>
                <ul class="nav navbar-nav">
                <li><a href="#SDB">Self-driving Bike</a></li>
                <li><a href="#SPLC">Solar-Powered Lounge Chairs</a></li>
                <li><a href="#UPS">USB Port Source</a></li>
                <li><a href="#TTD">Table Tennis Door</a></li>
                <li><a href="#PS">Pizza Scissors</a></li>
                <li><a href="#AFHE">Aqueduct Faucet & Handle Extender</a></li>
                <li><a href="#FBB">Folding Bicycle Backpack</a></li>
                <li><a href="#MT">Multi Tasking</a></li>
                <li><a href="#SCWP">Solar Charging while Parking</a></li>
                <li><a href="#TSWHGT">Traffic Signal with Hour glass timer</a></li>
                </ul>
                </div>
            </div>
      </nav>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-10">
      <!-- your page content -->
      <div class="row">
          <div class="col-md-6 col-lg-4 col-xs-12 center" id="SDB">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/bike.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Self-driving Bike</h4>
                    <p class="card-text">On 31 March 2016, the Google Netherlands YouTube channel shared a video purportedly demonstrating Google's development of a "self-driving bike".</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#bikeModal">More Detail</button>
                    <div class="modal fade" id="bikeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Self-driving Bike</h4>
                                </div>
                                <div class="modal-body">This spring, Google is introducing the self-driving bicycle in Amsterdam, the world’s premier cycling city. The Dutch cycle more than any other nation in the world, almost 900 kilometres per year per person, amounting to over 15 billion kilometres annually. The self-driving bicycle enables safe navigation through the city for Amsterdam residents, and furthers Google’s ambition to improve urban mobility with technology. Google Netherlands takes enormous pride in the fact that a Dutch team worked on this innovation that will have great impact in their home country</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12 center" id="SPLC">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/Solar-Powered.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Solar-Powered Lounge Chairs</h4>
                    <p class="card-text">Recharge Your Gadgets with Solar-Powered Lounge Chairs.</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#solarModal">More Detail</button>
                    <div class="modal fade" id="solarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Solar-Powered Lounge Chairs</h4>
                                </div>
                                <div class="modal-body">MIT Professor Sheila Kennedy and her team at Kennedy and Violich Architecture recently debuted “SOFT Rockers” as part of MIT’s 150th-anniversary Festival of Art+Science+Technology (FAST) celebration. The team arrived at a sleek, solar-powered energy recharging station, disguised as a comely piece of public furniture, as a response to “‘hard’ urban infrastructure.” view more: solarpowered lounge chairs</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12 center" id="UPS">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/designrulz-AA-001.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">USB Port Source</h4>
                    <p class="card-text">Continuance Rechargeable Battery with USB Port Source</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#usbModal">More Detail</button>
                    <div class="modal fade" id="usbModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">USB Port Source</h4>
                                </div>
                                <div class="modal-body">Continuance is an iF concept design entry for 2011. This is so simple. Continuance is a set of batteries with a USB interface on the side. The batteries are rechargeable plus dole out some juice to stranded gadgets that are starved of power. Handy, compact and a totally do-able concept! Apparently, Continuance is unavailable design concept for the time being, but if you’re interested in this kind of USB powered battery, you might like to check the available USB rechargeable battery.</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12 center" id="TTD">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/door.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Table Tennis Door</h4>
                    <p class="card-text">For all of you who think that your homes are too small or too cluttered for tabletop games, we present the Ping Pong Door.</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#doorModal">More Detail</button>
                    <div class="modal fade" id="doorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Table Tennis Door</h4>
                                </div>
                                <div class="modal-body">For all of you who think that your homes are too small or too cluttered for tabletop games, we present the Ping Pong Door.</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>

                </div>
                </div>
          </div>
          
          <div class="col-md-6 col-lg-4 col-xs-12 center" id="PS">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/Pizza-Scissors-2.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Pizza Scissors</h4>
                    <p class="card-text">The Greatest Scissors I’ve Ever Seen.</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#pizzaModal">More Detail</button>
                    <div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Pizza Scissors</h4>
                                </div>
                                <div class="modal-body">I just ordered a pair of these scissors, called “scizzas,” from Dreamfarm, an amazing Australian design firm that specializes in cool kitchen tools.
Why We Love It: The scizza has one side that sits flat while the other blade cuts, making it perfect for pizza, fabric, wrapping paper and the like. I am terrible at cutting straight and the moment I saw it, I knew it was for me. For $17, I’ll be cutting pretty.</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12 center" id="AFHE">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/designrulz-aqua-001.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Aqueduct Faucet & Handle Extender</h4>
                    <p class="card-text">Washing Hands With The Aqueduct Faucet & Handle Extender</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#handleModal">More Detail</button>
                    <div class="modal fade" id="handleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Aqueduct Faucet & Handle Extender</h4>
                                </div>
                                <div class="modal-body">The Aqueduct Handle Extender is in my opinion – an okay idea but I still think an adult needs to be with a little one when handling water (especially hot) so not sure if this is so necessary. Find out more and visit aqueduct.com</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>
          
          <div class="col-md-6 col-lg-4 col-xs-12 center" id="FBB">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/bikebackpack.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Folding Bicycle Backpack</h4>
                    <p class="card-text">Folding Bicycle Backpack Makes Good Use of Gravity</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#backpackModal">More Detail</button>
                    <div class="modal fade" id="backpackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Folding Bicycle Backpack</h4>
                                </div>
                                <div class="modal-body">There’s no denying it, folding bicycles are hot with designers these days. While Bergmonch’s design is not the first of these concepts to involve a backpack, it is definitely one of the most complete.</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12 center" id="MT">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/designrulz-Multi-Tasking-001.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Multi Tasking</h4>
                    <p class="card-text">Swiss Diamond Swedish Pancake Plett Pan. Order here</p>
                   <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#taskModal">More Detail</button>
                    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Multi Tasking</h4>
                                </div>
                                <div class="modal-body">Swiss Diamond Swedish Pancake Plett Pan. Order here</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12 center" id="SCWP">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/designrulz-solar-001.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Solar Charging while Parking</h4>
                    <p class="card-text">Solar Charging while Parking</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#solarparkModal">More Detail</button>
                    <div class="modal fade" id="solarparkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Solar Charging while Parking</h4>
                                </div>
                                <div class="modal-body">Who will run the world for the next 100 years? Envision Solar President and CEO Desmond Wheatley argues that it will be whoever has abundant sources of power. That is constructive power, rather than destructive power, which is essential to run the information and technology industries that our world is entirely dependent on. Additionally, Wheatley states that energy equals water. And, with less than 1% of the world’s fresh water available for use, desalination is becoming an increasingly plausible solution. The only problem now is that energy is expensive. But, once cities have the will to switch over to renewables, that will no longer be an issue. Could you imagine San Diego as an net exporter of water? Desmond Wheatley can.</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xs-12 center" id="TSWHGT">
                <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="public/img/designrulz-Traffic-Signal-001.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Traffic Signal with Hour glass timer</h4>
                    <p class="card-text">Traffic Signal with Hour glass timer</p>
                    <!-- modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#timerModal">More Detail</button>
                    <div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Traffic Signal with Hour glass timer</h4>
                                </div>
                                <div class="modal-body">The Sand Glass is a new look at traffic lights. Surely people must be frustrated with the current design, which is why we have seen THREE DIFFERENT DESIGNS recently. Make this the fourth dimension using the sand-hour-glass as its model.Why We Love It: LED lights trickle down to make an obvious statement, regarding the time left for the lights to change. Easy and intuitive.</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>


</body>
<script src="/public/js/vendor.min.js"></script>
</html>

