<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lab2</title>
<link rel="stylesheet" href="/public/css/index.css">
</head>
<body class="flexbox">
<nav class="flexbox flex-item">
        <a class="flex-item" href="#TWD">The Walking dead</a>
        <a class="flex-item" href="#HOC">House of Cards</a>
        <a class="flex-item" href="#PB">Prison Break</a>
        <a class="flex-item" href="#TBBT">The Big Bang Theory</a>
        <a class="flex-item" href="#2BG">2 Broke Girls</a>
        <a class="flex-item" href="#GOT">Game of Thrones</a>
        <a class="flex-item" href="#MF">Modern Family</a>
        <a class="flex-item" href="#GG">Gossip Girl</a>
        <a class="flex-item" href="#TF">The Flash</a>
        <a class="flex-item" href="#GA">Grey's Anatomy</a>
</nav>
<section class="flex-item flexbox">
    <article class="flex-item" id="TWD"><img alt="The Walking dead" src="http://localhost:3000/public/img/TWD.jpg"><h1>The Walking Dead</h1><p>The Walking Dead takes place after the onset of a worldwide zombie apocalypse. The zombies, colloquially referred to as "walkers", shamble towards living humans and other creatures to eat them (they are attracted to noise i.e. gunshot and to different scents i.e. humans).</p></article>
    <article class="flex-item" id="HOC"><img alt="House of Cards" src="http://localhost:3000/public/img/HOC.png"><h1>House of Cards</h1><p>House of Cards is an American political drama web television series created by Beau Willimon. It is an adaptation of the BBC's mini-series of the same name and is based on the novel by Michael Dobbs.</p></article>
    <article class="flex-item" id="PB"><img alt="Prison Break" src="http://localhost:3000/public/img/PB.jpg"><h1>Prison Break</h1><p>The first season follows the rescue of Lincoln Burrows (Dominic Purcell), who is accused of murdering Terrence Steadman (John Billingsley), the brother of Vice President of the United States Caroline Reynolds (Patricia Wettig). </p></article>
    <article class="flex-item" id="TBBT"><img alt="The Big Bang Theory" src="http://localhost:3000/public/img/TBBT.png"><h1>The Big Bang Theory</h1><p>The Big Bang Theory (often shortened to Big Bang Theory, and abbreviated to TBBT or BBT) is an American television sitcom created by Chuck Lorre and Bill Prady, both of whom serve as executive producers on the series, along with Steven Molaro. All three also serve as head writers.</p></article>
    <article class="flex-item" id="2BG"><img alt="2 Broke Girls" src="http://localhost:3000/public/img/2BG.jpg"><h1>2 Broke Girls</h1><p>2 Broke Girls is an American television sitcom created for Warner Bros. Television by Michael Patrick King and Whitney Cummings. It premiered in the United States on CBS in September 2011.</p></article>
    <article class="flex-item" id="GOT"><img alt="Game of Thrones" src="http://localhost:3000/public/img/GOT.jpg"><h1>Game of Thrones</h1><p>Game of Thrones is an American fantasy drama television series created by David Benioff and D. B. Weiss. It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy novels, the first of which is A Game of Thrones.</p></article>
    <article class="flex-item" id="MF"><img alt="Modern Family" src="http://localhost:3000/public/img/MF.svg"><h1>Modern Family</h1><p>Modern Family (stylized as modern family) is an American television mockumentary sitcom that premiered on ABC on September 23, 2009, which follows the lives of Jay Pritchett and his family, all of whom live in suburban Los Angeles. </p></article>
    <article class="flex-item" id="GG"><img alt="Gossip Girl" src="http://localhost:3000/public/img/GG.jpg"><h1>Gossip Girl</h1><p>Gossip Girl is an American teen drama television series based on the book series of the same name written by Cecily von Ziegesar. The series, created by Josh Schwartz and Stephanie Savage, originally ran on The CW for six seasons from September 19, 2007, to December 17, 2012. Narrated by the omniscient blogger "Gossip Girl", voiced by Kristen Bell, the series revolves around the fictional lives of upper-class adolescents living in Manhattan's Upper East Side.</p></article>
    <article class="flex-item" id="TF"><img alt="The Flash" src="http://localhost:3000/public/img/TF.jpg"><h1>The Flash</h1><p>The Flash is the name of several fictional characters appearing in comic books published by DC Comics. Created by writer Gardner Fox and artist Harry Lampert, the original Flash first appeared in Flash Comics #1 (cover date January 1940/release month November 1939).</p></article>
    <article class="flex-item" id="GA"><img alt="Grey's Anatomy" src="http://localhost:3000/public/img/GA.svg"><h1>Grey's Anatomy</h1><p>Grey's Anatomy is an American medical drama television series that premiered on American Broadcasting Company (ABC) as a mid-season replacement on March 27, 2005. The series focuses on the fictional lives of surgical interns, residents, and attendings as they gradually evolve into seasoned doctors, while trying to maintain personal lives and relationships. </p></article>
</section>

<script src="public/js/tota11y.min.js"></script>
</body>
</html>